services:
  workerman-server.command.http:
    class: Tourze\WorkermanServerBundle\Command\WorkermanHttpCommand
    autowire: true
    tags: [ 'console.command' ]
  workerman-server.mime-detector:
    class: League\MimeTypeDetection\FinfoMimeTypeDetector
